@import 'reboot'

html, body
	width: 100%

body
	background-color: #000000
	padding: 20px

.main
	margin-left: auto
	margin-right: auto
	width: 100%
	max-width: 500px
	// border: 3px solid grey
	border-radius: 25px
	background-color: #ffffff
	padding: 20px

	display: flex
	flex-flow: column nowrap
	justify-content: center
	align-items: center

	.row
		width: 100%
		display: flex
		flex-flow: row wrap
		justify-content: center
		align-items: center

		h2, div
			flex: 1 1 120px

	input
		&[type=time]
			width: 80px

		&[type=number]
			width: 50px

